extends ../layouts/application.pug

block header
  = t('views.statuses.edit.editingStatus')

block content
  +formFor()(action=route('patchStatus', { id: `${status.id}` }) method='post')
    input(name="_method" type="hidden" value="patch")
    +input(status, 'name', errors, t('views.statuses.edit.name'))(type="text")
    +submit(status)(value=t('views.statuses.edit.submit'))
